html{
    scroll-behavior: smooth;
}
body {
    margin: 0 !important;
    padding: 0;
    font-family: 'Allerta Stencil', sans-serif;
}

#head {
    min-height: 100vh;
    max-height: 100vh;
    /* background-color: red; */
}

header {
    background-color: rgba(0, 0, 0, 0.8);
}

#head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#head li {
    float: left;
}

#head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#head li a:hover {
    background-color: #111;
}

#screen {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.active {
    background-color: #4CAF50;
    color: white;
}

#intro img {
    border-radius: 50%;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    transform: translateY(-50%);
}

#name {
    color: yellow;
    text-align: center;
    font-size: x-large;
}

.desc {
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 0 auto;
    ;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-40%);
}

.clear {
    clear: both;
}

.main {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    /* border: solid; */
}

main h4 {
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
    margin: unset;
}

.main ul {
list-style-type: none;
display: flex;
flex-direction: column;
width: 50%;
margin: 0 auto;

}
.sep{
    border-style: solid;
    border-color: black;
    
}


.item{
    display: flex;
    width: auto;  
    margin: 10px 0;
}
.item span {
    margin-right: 10px;
}

/* FOOTE SECTION */

footer {
    padding: 10px;
    background-color: #2f3640;
    color: white;
    display: flex;
    text-align: center;
}

.subFooter {
    width: 100%;
    display: flex;
    min-height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column; 
}
.footcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
   
}
.contact {
    text-align: center;
    border: solid;
    border-color: white;
    border-width: thin;
    border-radius: 5px; 
}
.contact ul {
    margin: 0;
    padding: 0;
}
.contact ul li{
  text-decoration-style: none;
  list-style-type: none;
  padding: 5px;
}

.feedback {
    text-align: center;
    border: solid;
    border-color: white;
    border-width: thin;
    border-radius: 5px;
}

.footer-title{
    text-align: center;
    color: yellow; 
    font-size: 2em;  
}

footer input,textarea{
    padding: 5px;
    border-radius: 5px;
}
input-group {
    display: flex;
    flex-grow: 1;
}
textarea{
    margin-top: 5px;
    display: flex;
    width: 82%;

}

.footcontent{
    display: flex;
    flex-direction: column;
}
